{% extends 'base.html' %}

{% block title %}Добавить товар{% endblock %}

{% block content %}
<div class="d-flex">
    {% include 'catalog/menu.html' %}

    <main class="container-fluid p-5">
        <h1>Новый товар</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a href="{% url 'catalog:product_list' %}" class="btn btn-secondary">Отмена</a>
        </form>
    </main>
</div>
{% endblock %}
